header{
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/userCover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 8px;
    position: relative;
}
header > *{
    z-index: 10;
}
header::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
}
.User__profileImage{
    width: 150px;
    height: 150px;
    /* background-image: url('../../../assets/userImage.jpg'); */
    background-image: url('../../../assets/rohan.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.User__profileName{
    font-size: 3em;
    font-weight: bold;
    color: white;
}
.User_profileTitle{
    color: white;
    text-align: center;
}